<h2>List details</h2>

@{
    @await Component.InvokeAsync("ListDetails");
    @await Component.InvokeAsync("~/Views/Items/ItemsDetails");
}

@*<div class="container">
        @await Html.PartialAsync("~/Views/Items/Index.cshtml");
    </div>*@

