@model ItemListViewModel
@{
    ViewBag.Title = "See your list";
}


<div class="container">
    <h2>@Model.ListName</h2>
</div>

<div class="container">
    <h4>Your items:</h4>

    <table class="table table-borderless table-hover">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Quantity</th>
                <th scope="col">Added on</th>
                <th scope="col">User</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @if (Model.Items != null)
                {
                    foreach (var item in Model.Items)
                    {
                        <td>@item.ItemName</td>
                        <td>@item.Quantity</td>
                        <td>@item.DateOfAddingItem</td>
                    }
                }
                else
                {
                    <td>You don't have any items in your list</td>
                }
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <form method="post">
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col">
                <div class="form-group">
                    <input asp-for="ItemName" class="form-control" placeholder="Item name">
                    <span asp-validation-for="ItemName" class="text-danger"></span>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <input asp-for="Quantity" class="form-control" placeholder="Item name">
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" asp-controller="Items" class="btn btn-primary">Add item to the list</button>
        </div>
    </form>
</div>
